{% extends 'meeting/base/base.html' %}

{% load static %}

{% block title %}{{ meetup_title }}{% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'meeting/styles/all-meetups.css' %}">
    <link rel="stylesheet" href="{% static 'meeting/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
    {{ meetup_title }}
{% endblock %}



{% block body %}
    <main>
        <article class="meetup-detail">
           <img src="" alt="">

           <section id="location">
            <h2>Location</h2>
            <address>This Meetup is being held in <span>LOCATION</span> (ADDRESS).</address>
           </section>

           <section id="details">
            <h2>What's This Meetup About</h2>
            <p>{{ meetup_description }}</p>
            <footer>
                <p> Need More details? Contact the organizer at <span>EMAIL</span></p>
            </footer>
           </section>
           <section id="registration">
            <h2>Join Us!
           </section>
        </article>
    </main> 
{% endblock %}
